* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

.navbar-default {
    background: #ffffff;
    border-color: transparent;
    height: 110px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 110px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo-branca {
    display: none!important;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 110px;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
ul.nav {
    height: 110px;
    display: flex;
    align-items: center;
}
ul.nav>li>a {
    font-size: 14px;
    color: #535353!important;
    text-transform: uppercase;
    padding: 10px 5px;
}
ul.nav>li>a:hover {
    font-weight: 700;
    color: #eb754b!important;
}

.vitrine .owl-prev {
    position: absolute;
    top: 33%;
    left: 17%;
}

.vitrine .owl-next {
    position: absolute;
    top: 33%;
    right: 17%;
}

.vitrine .fa-angle-left {
    font-size: 70px;
    color: #ea6837;
    text-shadow: 5px 3px 20px #000000;
}

.vitrine .fa-angle-right {
    font-size: 70px;
    color: #ea6837;
    text-shadow: 5px 3px 20px #000000;
}

/*SOBRE*/
.sobre {
    margin: 100px;
}

.sobre .sobre-texto {
    margin-left: 50px;
}

.sobre .sobre-texto h2, h1 {
    color: #ea6837;
}

.btn-geral {
    background-color: #ea6837;
    padding: 17px;
    color: #fff;
    border-radius: 7px;
    padding-top: 15px;
}

.sobre .paragrafo-sobre {
    margin-bottom: 30px;
    text-align: justify;
}

/*DESTAQUE*/

.destaque {
    display: flex;
}
.destaque .img-destaque img {
    height: 450px;
}

.destaque .consultoria-texto {
    background-color: #ea6837;
    color: #fff;
    padding: 20px 250px 70px 80px;
    text-align: justify;
    height: 450px;
}

.destaque .consultoria-texto ul {
    padding: 0;
    float: left;
    line-height: 33px;
    margin: 20px;
}

.destaque .consultoria-texto .fa {
    color: #01123a;
    margin-right: 10px;
}

.destaque .consultoria-texto .texto-preto {
    color: #000;
}

/*ÃREA DO CLIENTE*/

.area-cliente {
    margin: 90px 0;
    background-image: url('../images/bg-cliente.jpg');
    height: 250px;
    width: 1152px;
}

.area-texto {
    display: flex;
}

.area-cliente .area-texto {
    color: #ffffff;
    position: absolute;
    margin: 60px 0;
    width: 1152px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.form-area input {
    background-color: transparent;
    height: 49px;
    width: 215px;
    border-radius: 7px;
    border-width: 1px;
}

/*FALE CONOSCO*/
.fale-conosco h2 {
    text-align: center;
    color: #ea6837;
    margin-bottom: 40px;
} 

.fale-conosco .form-group {
    padding-right: 0;
    padding-left: 0;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        float: none;
        background: transparent;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -30px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 20px;
    }
    .navbar-toggle {
        margin-top: 75px;
    }
    .navbar-header {
        height: 90px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1100px) {

}